<!DOCTYPE html>
<html lang="en">
<head>
    <title>Some Website</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>We'll be right back.</h1>
    <p>This website is being updated.</p>
</body>
</html>
